@charset "UTF-8";
@font-face {
  font-family: "Red Hat Text";
  src: url("../../fonts/static/RedHatText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Text";
  src: url("../../fonts/static/RedHatText-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Text";
  src: url("../../fonts/static/RedHatText-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
   Упрощаем работу с изображениями
  */
img {
  display: block;
  max-width: 100%;
}

/**
   Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  height: 100%;
}

/**
   Плавный скролл
  */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  min-height: 100%;
  /**
     Унифицированный интерлиньяж
    */
  line-height: 1.5;
}

/**
   Приводим к единому цвету svg-элементы
  */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
  transition-property: fill, stroke;
}

/**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-size: clamp(16px, 18 / 1440 * 100vw, 18px);
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-dark);
  background-color: var(--color-bg);
}

img {
  height: auto;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, .h1, h2,
.h2, h3,
.h3, h4,
.h4 {
  font-weight: 500;
}

h1,
.h1 {
  font-size: clamp(43px, 60 / 1440 * 100vw, 60px);
}

h2,
.h2 {
  font-size: clamp(36px, 40 / 1440 * 100vw, 40px);
}

h3,
.h3 {
  font-size: clamp(26px, 30 / 1440 * 100vw, 30px);
}

h4,
.h4 {
  font-size: clamp(18px, 20 / 1440 * 100vw, 20px);
}

:root {
  --color-gray: #898989;
  --color-dark: hsl(14, 65%, 9%);
  --color-light: #ffffff;
  --color-accent: hsl(12, 20%, 44%);
  --color-accent_2: hsl(7, 20%, 60%);
  --color-accent-light: hsl(11, 73%, 47%);
  --color-bg: hsl(20, 50%, 98%);
  --border-radius: 14px;
  --font-family-base: "Red Hat Text", sans-serif;
  --container-width: 1440px;
  --container-padding-x: 50px;
  --button-height: 45px;
  --button-padding-x: 45px;
  --button-font-size: 16px;
  --transition-duration: 0.2s;
  /* Variables for mixins, functions */
  --desktop-large: 1920;
  --default-width: 1440;
  --desktop-above: 1281;
  --desktop: 1280;
  --tablet-above: 1024;
  --tablet: 1023;
  --mobile-above: 768;
  --mobile: 767;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (max-width: 480px) {
  .hidden-mobile-s {
    display: none !important;
  }
}

@media (max-width: 399px) {
  .hidden-mobile-xs {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

.button {
  padding: 0;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--button-font-size);
  font-weight: 600;
  text-wrap: nowrap;
  background-color: var(--color-light);
  border-radius: 30px;
  border: 1px solid var(--color-accent);
  padding-inline: var(--button-padding-x);
  height: var(--button-height);
  cursor: pointer;
}
.button:hover {
  background-color: var(--color-accent-light);
}

.desserts {
  margin-top: 100px;
}
.desserts__title {
  margin-bottom: 20px;
  display: inline-block;
  font-weight: 700;
  font-size: 40px;
  color: var(--color-dark);
}

.cart {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  width: 100%;
  max-width: clamp(250px, 350 / 1440 * 100vw, 350px);
  position: absolute;
  right: var(--container-padding-x);
  background-color: white;
  border-radius: var(--border-radius);
  padding-inline: 30px;
  padding-block: 40px;
}
.cart__title {
  margin-bottom: 25px;
  color: var(--color-accent-light);
  font-weight: 700;
  font-size: 22px;
}
.cart__list-item {
  color: var(--color-accent);
  text-align: center;
  font-size: 14px;
}
.cart__list-item-image {
  display: block;
  justify-self: center;
}

.dessert__list {
  display: grid;
  grid-template-columns: repeat(3, clamp(150px, 300 / 1600 * 100vw, 300px));
  width: -moz-fit-content;
  width: fit-content;
  gap: 30px;
}
.dessert__list-item-wrapper {
  position: relative;
}
.dessert__list-item-image {
  border-radius: var(--border-radius);
}
.dessert__list-item-info {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  row-gap: 3px;
}
.dessert__list-item-shortName {
  color: var(--color-accent_2);
  font-weight: 400;
  font-size: 14px;
}
.dessert__list-item-name {
  font-weight: 600;
}
.dessert__list-item-price {
  font-weight: 600;
  color: var(--color-accent-light);
}
.dessert__list-item-buy {
  position: absolute;
  left: 50%;
  bottom: -7%;
  translate: -50%;
  z-index: 1;
}/*# sourceMappingURL=styles.css.map */